<h1>Oyun sayısı = @ViewBag.GameCount</h1>
<h1>Kullanıcı sayısı = @ViewBag.UserCount</h1>
<h1>Toplam satılan oyun sayısı = @ViewBag.soldGameCount</h1>
<h1>Satılan oyunlardan gelen toplam gelir = @ViewBag.soldGameRevenue</h1>