@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h1>Oyun sayısı = @ViewBag.GameCount</h1>
<h1>Kullanıcı sayısı = @ViewBag.UserCount</h1>